<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs </title>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="myApp">
        <h1>Batman Quotes</h1>
        <input 
            type="text" 
            v-model="newQuote"
            @keypress.enter="addQuote">
            <!--v-on:keypress.enter modificador de evento proporcionado por VUE-->
        <hr>
        <ul v-for="({quote, author}, index) in quotes">
            <li><span>{{index + i}} {{quote}}</span></li>
            <!-- <blockquote v-if="author != null/undefind/''"></blockquote>-->
            <blockquote v-if="author">{{author}}</blockquote>
            <!--<blockquote v-show="author">{{author}}</blockquote>-->

        </ul>
        <!--{{newQuote}}-->
    </div>
    
    <script src="app.js"></script>
</body>
</html>